/* Estilizado de la pagina index */

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.login_container {
    width: 100%;
    height: 657px;
    background: url("../img/fondoLogin.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.login_bar {
    width: 100%;
    height: 90px;
    background-color: #1010108c;
}

.logo_top {
    width: 200px;
    height: 90px;
    float: left;
    background-color: yellowgreen;
}

.login_button1 {
    padding: 10px;
    width: 120px;
    background-color: #fd2020;
    float: right;
    border-radius: 5px;
    margin: 26px;
    font-weight: bold;
}

.content_login {
    width: 78%;
    height: 347px;
    background-color: #1010108c;
    position: relative;
    padding: 110px 150px 110px 150px;
}

.content_login h1 {
    margin: 0 0 70px 0;
    font-size: 50px;
    text-transform: capitalize;
}

.content_login h3 {
    margin: 0 0 70px 0;
    font-size: 25px;
    text-transform: capitalize;
}

.register_button {
    width: 180px;
    padding: 10px;
    font-weight: bold;
    display: inline-block;
    border-radius: 7px;
    background-color: #fd2020;
    font-size: 30px;
}


/* Estilizado de la pagina login */

.top_description {
    position: absolute;
    left: 20%;
    text-transform: capitalize;
    margin: 26px 0;
}

.data_login {
    width: 310px;
    height: 264px;
    background-color: #080808c2;
    display: inline-block;
    padding: 40px;
    border-radius: 10px;
    text-align: left;
}

.form_title {
    margin: 0 0 15px 0;
    font-size: 30px;
}

#usuario {
    padding: 10px;
    border-radius: 7px;
    width: 92%;
    height: 20px;
    border: solid black;
    margin-bottom: 15px;
}

#password {
    padding: 10px;
    border-radius: 7px;
    width: 92%;
    height: 20px;
    border: solid black;
    margin-bottom: 25px;
}

.login_button2 {
    padding: 15px;
    width: 160px;
    background-color: #fd2020;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}


/* Estilizado de la ventana de registro de usuario */

.content_registry {
    padding: 0px 420px 20px 420px;
    background-color: #1010108c;
    width: 38.35%;
    height: 547px;
}

.registration_form {
    width: 380px;
    height: 506px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    background-color: #080808c2;
}

.user_info {
    padding: 5px;
    height: 20px;
    width: 96%;
    margin-bottom: 15px;
    border: solid 1px black;
}

.register_button2 {
    width: 160px;
    height: 25px;
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    border-radius: 7px;
    background-color: #fd2020;
    text-align: center;
    margin: 20px 105px 0 100px;
    font-size: 20px;
}


/* Estilizado pagina inicio */

#page_container {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.page_bar {
    width: 92.7%;
    height: 90px;
    background-color: rgb(20, 20, 20);
    padding: 0 50px;
}

.options_bar {
    list-style: none;
    padding: 0;
    float: right;
    margin: 0;
    border-left:solid 1px ;
}
.options_bar li {
    display: inline-block;
    padding: 33px;
    font-size: 20px;
    border-right:solid 1px ;
}
.options_bar li:hover a{
    display: inline-block;
    color: rgb(191 191 191);
    transition: 0.5s;
}
.slider{
    width: 100%;
    overflow: hidden;
}
.slider ul{
    padding: 0;
    margin: 0;
    display: flex;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 563px;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}